@import url(reset.css);
.navbar{
  height: 70px;
  box-shadow: 0px 1px 10px #999;;
}

#hero {
  margin-top: 70px;
  height: 400px;
  background-image: url("../images/main_1.png");
  background-position: center;
  background-size: cover;
}

#login {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
  border-radius: 8px;
  text-align: center;
  float: right;
  margin-right: 50px;
  margin-top: 100px;
}

.weathers {
  margin: 50px 30px;
  display: flex; /* 가로 정렬을 위한 flex 설정 */
  justify-content: space-between; /* 요소들 사이에 간격을 두기 위해 */
  flex-wrap: wrap; /* 요소들이 넘칠 경우 줄 바꿈 */
}
#logo {
  width: 70px;
  height: 70px;
  margin-right: 10px;
}
/* footer 태그 안에 CSS 속성 */
footer {
  /* 맨 아래 고정을 위한 설정 */

  /* 배경색과 글자색 */
  background-color: #62c5ff;
  color: white;
  width: 100%;
  height: 70px;
  line-height: 70px;
}

.footer-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-list a {
  margin: 0px 10px;
}





/* 지역별 관광지 조회 */
.contents-container{
  margin-top: 70px;
}

/* progressbar */
.progressSpace{
  width: 100%;
  display: flex;
  justify-content: center;
}

.progressbar{
  margin-top: 5%;
  width: 80%;
  height: 10px;
  border-radius: 5px;
  background-color: #F8F9FA;
  box-shadow: inset 0 0.5em 0.5em rgba(0,0,0,0.05);
}

/* localCard */
.localCard-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
  padding-top: 30px;
  width: 80%;
  margin: 0 auto;
}

/* local */
.local-container{
  padding-top: 30px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
.jejuImg{
  width: 80%;
  border-radius: 20px;
}

.pin{
  width: 4rem;
  height: 4rem;
}

.pin img{
  width: 4rem;
}
.pin1{
  position: absolute;
  left: 40%;
  right: 0;  
  top: 13%;
}

.pin2{
  position:absolute;
  left: 20%;
  right: 0;
  top: 15%;
}

.pin3{
  position:absolute;
  left: 0;
  right: 5%;
  top: 20%;
}

.pin4{
  position:absolute;
  left: 0%;
  right: 25%;
  top: 25%;
}

.pin5{
  position:absolute;
  left: 0%;
  right: 40%;
  top: 55%;
}

.pin6{
  position:absolute;
  left: 0%;
  right: 5%;
  top: 50%;
}

.pin7{
  position:absolute;
  left: 0%;
  right: 50%;
  top: 43%;
}

.pin8{
  position:absolute;
  left: 30%;
  right: 0%;
  top: 45%;
}

.pin9{
  position:absolute;
  left: 50%;
  right: 0%;
  top: 35%;
}

.pin:hover{
  transform: scale(1.5,1.5);
}